@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap%27%27");

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "montserrat", sans-serif;
    overflow-x: hidden;
}

header {
    background-color: #f6f6f7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100vw;
    font-size: 18px;
    font-weight: 500;
}

header img {
    transition: 0.5s;
}

header nav {
    width: 35vw;
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
}

header a {
    text-decoration: none;
    transition: 0.7s;
    color: #000;
}

header img:hover,
nav a:hover {
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
    background-color: #f6f6f7;
    color: #10dfc2;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10dfc2;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    width: 13vw;
    height: 5vh;
    font-weight: 500;
}

.contact:hover {
    box-shadow: 1px 1px 10px 1px #10dfc2;
    transition: 0.3s;
    background-color: #f6f6f7;
    color: #10dfc2;
}

main {
    display: flex;
    flex-direction: column;
}

#containerBanner {
    display: flex;
    background: url("img/Background.png");
    height: 60vh;
    width: 100vw;
    background-size: 100vw 100vh;
    justify-content: center;
    align-items: center;
}

#leftBanner {
    height: 40vh;
    width: 33vw;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: left;
    font-size: 36px;
    justify-content: space-between;
}

#leftBanner img {
    width: 5vw;
    height: 3vh;
}

.leftBannerContent {
    font-size: 18px;
    width: 20vw;
    text-align: left;
    font-weight: 400;
    height: 10vh;
    line-height: 180%;
    overflow: hidden;
}

#rightBanner {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 33vw;
    justify-content: space-around;
    align-items: center;
}

#rightBanner img {
    transform: scale(1.3);
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5vw;
    height: 40vh;
}

#leftAbout {
    display: flex;
    flex-direction: column;
    color: #032624;
    width: 30vw;
    height: 30vh;
    align-items: left;
    justify-content: space-around;
    font-size: 32px;
}

#leftAbout p,
span {
    font-size: 16px;
}
#leftAbout span {
    color: #0eafac;
}

#workflow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    background-color: #f6f6f6;
    color: #032624;
    font-size: 16px;
    text-align: center;
}

#workflow h2 {
    color: #0eafac;
    font-size: 32px;
}

#workflow h2,
p {
    width: 30vw;
}

#steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 60%;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.stepList {
    display: flex;
    width: 250px;
    height: 250px;
    background-color: #fff;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    row-gap: 25px;
    padding: 10px;
    box-shadow: 0px 0px 10px #00000029;
    transition: 0.8s;
}

.stepList:hover {
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 8px 8px 10px #00000029;
}

.stepList h3,
p {
    width: 100%;
}

.stepList img {
    width: 35px;
    height: 35px;
}

#detailsContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    align-items: center;
    margin: 0 auto;
    color: #032624;
    font-size: 16px;
}

#detailsRequirements {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

#detailsRequirements h2,
#detailsImportant h2 {
    font-size: 32px;
    font-weight: 800;
    color: #0eafac;
}

#detailsRequirements p,
#detailsImportant p {
    font-weight: 600;
}

#detailsRequirementsContent {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#detailsImportant {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

#detailsImportantContent {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#detailsContainer img {
    transform: scale(1.2);
}

#detailsContainer ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-position: inside;
}

#newsletter {
    display: flex;
    background-color: #19dbd1;
    color: #fff;
    width: 100vw;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

#newsletterContent {
    width: 28vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: flex-start;
}

#newsletterTitle {
    font-size: 32px;
}

#newsletterForm {
    width: 22vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-weight: 600;
    padding-left: 15px;
}

#newsletterForm input {
    border-radius: 10px;
    border: none;
    width: 20vw;
    height: 30%;
    padding-left: 10px;
    padding-right: 10px;
}

#newsletterForm input:focus {
    outline: none;
}

#newsletterButton {
    background-color: #ffb900;
    border-radius: 10px;
    font-weight: 600;
    width: 5vw;
    height: 30%;
    color: #fff;
}

#newsletterButton {
    border: none;
    transition: 1s;
}

#newsletterButton:hover {
    transition: 1s;
    box-shadow: 1px 1px 10px #ffb900;
    transform: scale(1.1);
}

#footerLinks {
    display: flex;
    width: 100vw;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background-color: #04254c;
}

#footerPresentation {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 30vw;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 15px;
}

#footerPresentation a {
    display: flex;
    width: 30%;
    height: 15%;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: #ffb900;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: 1s;
}

#footerPresentation a:hover {
    transition: 1s;
    box-shadow: 1px 1px 10px #ffb900;
    transform: scale(1.1);
}

#services {
    display: flex;
    height: 70%;
    width: 10vw;
}

#servicesList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    row-gap: 10px;
}

.servicesListTitle {
    font-size: 24px;
}

#address {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 40vw;
}

.addressLocations {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: left;
    justify-content: space-around;
    padding: 0;
}

.addressLocations li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ponteiro {
    background-color: #fff;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin-right: 50px;
    padding: 15px;
}

@media only screen and (max-width: 1600px) {
    header nav {
        width: 60vw;
    }

    .contact {
        width: 20vw;
        height: 4vh;
        margin-right: 10px;
    }

    #containerBanner {
        justify-content: center;
    }

    #containerBanner img {
        width: 10vw;
    }

    #leftBanner {
        width: 45vw;
        height: 50vh;
        justify-content: center;
    }

    .leftBannerContent {
        width: 100%;
        height: 15vh;
    }

    #rightBanner {
        width: 40vw;
    }

    #rightBanner img {
        min-width: 40vw;
        transform: scale(0.9);
    }

    #leftAbout {
        width: 50vw;
    }

    #workflow {
        height: 50vh;
    }

    #workflow h2 {
        width: 100vw;
    }

    #workflow p {
        width: 70vw;
    }

    #steps {
        height: 70%;
        width: 100vw;
        overflow-y: hidden;
        align-items: center;
        justify-content: space-around;
    }

    .stepList {
        width: 22%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        background-color: transparent;
        border-radius: 10px;
        text-align: center;
    }

    .stepList:hover {
        transform: none;
        background-color: #fff;
        transition: 1s;
    }

    .stepList h3 {
        height: 20%;
    }

    .stepListContent {
        width: 90% !important;
    }

    #detailsContainer {
        width: 90vw;
        height: 80vh;
    }

    #detailsContainer img {
        transform: scale(1);
    }

    #detailsRequirementsContent,
    #detailsImportantContent {
        height: 60%;
    }

    #newsletter {
        flex-direction: column;
        height: 20vh;
        padding-top: 10px;
    }

    #newsletterContent {
        width: 80vw;
        flex-direction: column;
    }

    #newsletterForm {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        padding: 0;
    }

    #newsletterForm input {
        width: 50vw;
    }

    #newsletterButton {
        width: 10vw;
    }

    #services {
        width: 20vw;
    }

    #footerPresentation a {
        width: 25vw;
    }

    #footerLinks {
        height: 50vh;
    }

    #footerPresentation {
        margin: 0 auto;
    }

    .ponteiro {
        border-radius: 50%;
        width: 50px;
        height: 35px;
        padding: 10px;
    }
}

@media screen and (max-width: 819px) {
    header {
        height: 20vh;
    }
    .contact {
        width: 30vw;
        margin-right: 10px;
        font-size: 14px;
    }

    header img {
        transform: scale(0.8);
        margin-left: 10px;
    }

    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #containerBanner {
        height: 50vh;
    }

    #containerBanner img {
        width: 15vw;
    }

    #leftBanner {
        height: 40vh;
        width: 70vw;
        justify-content: space-around;
    }

    #leftBanner h2 {
        font-size: 26px;
    }

    .leftBannerContent {
        font-size: 14px;
        line-height: 140%;
    }

    #rightBanner {
        display: none;
    }

    #about {
        flex-direction: column;
        height: 90vh;
    }

    #leftAbout {
        width: 90vw;
        font-size: 20px;
    }

    #workflow {
        height: 170vh;
    }

    #workflow h2 {
        width: 100vw;
    }

    #workflow p {
        width: 90vw;
    }

    #steps {
        flex-direction: column;
        height: 85%;
        justify-content: space-between;
    }

    .stepList h3 {
        height: 30px;
        overflow-y: hidden;
    }

    .stepListContent {
        width: 100% !important;
        height: 60%;
    }

    .stepList {
        display: flex;
        width: 80%;
        height: 23%;
        align-items: left;
        font-size: 14px;
    }

    #detailsContainer {
        height: 200vh;
        width: 90vw;
        justify-content: space-around;
    }

    #detailsRequirements {
        flex-direction: column-reverse;
    }

    #detailsRequirementsContent {
        height: 40vh;
        width: 80vw;
    }

    #detailsRequirements img {
        transform: scale(1);
    }

    #detailsImportant {
        flex-direction: column;
        width: 90vw;
        height: 90vh;
    }

    #detailsImportant img {
        transform: scale(1);
    }

    #detailsImportantContent {
        height: 40vh;
        width: 80vw;
        align-items: center;
    }

    #newsletter {
        height: 40vh;
    }

    #newsletter input {
        width: 60vw;
    }

    #newsletterForm {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    #newsletterButton {
        width: 20vw;
        align-items: center;
    }

    #footerLinks {
        height: 120vh;
        flex-direction: column;
    }

    #footerPresentation {
        width: 95%;
        height: 30%;
    }

    #footerPresentation a {
        width: 40%;
    }

    #services {
        width: 95%;
        height: 30%;
        justify-content: center;
    }

    #address {
        width: 80%;
        height: 30%;
    }
}
